<div class="wrapper">
    <div class="fchar">K</div>
    <div class="fchar">a</div>
    <div class="fchar">m</div>
    <div class="fchar">i</div>
    <div class="fchar">l</div>
    <div class="fchar">&nbsp;</div>
    <div class="fchar">L</div>
    <div class="fchar">i</div>
    <div class="fchar">h</div>
    <div class="fchar">a</div>
    <div class="fchar">n</div>
    <div class="subheader-container">
        <span i18n="subheader|An animated text below name@@subheader-prefix">I am </span><h2 class="subheader"></h2>
    </div>
    <div class="contact-links">
        <a href="https://github.com/klihan/" target="_blank"><i class="bi bi-github"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
    </div>
</div>