.wrapper,
.subheader-container,
.subheader {
    font-family: "Raleway", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
    @media (prefers-color-scheme: dark) {
        color: #a6bfd6;
    }
}

.subheader-container,
.subheader {
    font-size: 32px;
    font-weight: 400;
}

.subheader-container {
    margin: 10px 20px;
    margin-bottom: 0px;
}

.subheader {
    display: inline-block;
    color: #0563bb;
}

@keyframes flex-char {
    0% {
        transform: scale(1, 1);
    }
    33% {
        transform: scale(1.5, 1);
    }
    66% {
        transform: scale(1.1, 1.5);
    }
    100% {
        transform: scale(1, 1.1);
    }
}

.fchar {
    display: inline-block;
    transition: ease 0.5s text-shadow;
    user-select: none;
}

.fchar:hover {
    animation: flex-char 0.5s linear forwards;
    text-shadow: 3px 3px 3px lightslategray;
    @media (prefers-color-scheme: dark) {
        text-shadow: 3px 3px 3px whitesmoke;
    }
}

@keyframes zoomin {
    0% {
        opacity: 0;
        transform: scale(0.5) translateX(+250px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateX(0px);
    }
}

.wrapper {
    opacity: 0;
    animation: zoomin ease 1s forwards;
    animation-delay: 0.5s;
}

.contact-links {
    margin-left: 20px;
}

.contact-links > a {
    font-size: 24px;
    margin: 0px 10px;
    @media (prefers-color-scheme: dark) {
        color: #a6bfd6;
    }
    @media (prefers-color-scheme: light) {
        color: #45505b;
    }
    text-decoration: none;
}

.contact-links > a:hover {
    @media (prefers-color-scheme: dark) {
        color: #cfe5fa;

    }
    @media (prefers-color-scheme: light) {
        color: #6a7c8d;
    }
}
