.wrapper {
    padding: 20px;
}

h1 {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 20px;
    color: white;
    margin-bottom: 20px;
    display: inline-block;
}

.horizontal-split {
    height: 2px;
    max-width: 1000px;
    background: linear-gradient(to right, transparent 0%, white 50%, transparent 100%);
    margin: 10px auto;
}

.header i {
    color: white;
}

.header {
    text-align: center;
    font-size: 3em;
    @media screen and (max-width: 1100px) {
        font-size: 1.5em;
    }
}

.header i::after {
    content: "   ";
}

.form-wrapper {
    background-color: white;
    box-shadow: 5px 5px 15px -4px rgb(44, 44, 44);
    border-radius: 5px;
    color: #575b74;

    width: 850px;
    @media screen and (max-width: 1100px) {
        width: 250px;
    }
    padding: 15px;
    margin: 20px auto;
}

.form-wrapper > h1 {
    color: #575b74;
    font-size: 32px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    font-weight: 700;
    margin: 0px 10px;
}

.form-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.name-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

mat-form-field,
textarea {
    margin: 5px;
}

.name-wrapper > mat-form-field {
    flex-grow: 1;
}

.email-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    flex-grow: 1;
}

#message {
    flex-grow: 1;
    height: 100%;
}

.message-split {
    padding: 15px;
    @media screen and (max-width: 1100px) {
        padding: 0px;
    }
}

.form-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.form-controls > button {
    background: #0563bb;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px -4px black;
    font-size: 16px;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    transition: ease 0.5s background-color, ease 0.5s transform;
    width: 100px;
}

.form-controls > button:hover {
    background: #044f95;
}

.form-controls > button:active {
    transform: scale(0.9);
}
