<div class="wrapper">
    <div class="header">
        <i class="bi bi-braces"></i>
        <h1 i18n="devstack|A devstack header@@devstack-header">My devstack</h1>
    </div>
    <app-horizontal-split></app-horizontal-split>
    <p>This content coming soon</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto natus perspiciatis deleniti magni dignissimos. Dignissimos officia nam veniam et, repudiandae, beatae illum quaerat provident blanditiis sit itaque quisquam accusantium expedita.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto natus perspiciatis deleniti magni dignissimos. Dignissimos officia nam veniam et, repudiandae, beatae illum quaerat provident blanditiis sit itaque quisquam accusantium expedita.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto natus perspiciatis deleniti magni dignissimos. Dignissimos officia nam veniam et, repudiandae, beatae illum quaerat provident blanditiis sit itaque quisquam accusantium expedita.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto natus perspiciatis deleniti magni dignissimos. Dignissimos officia nam veniam et, repudiandae, beatae illum quaerat provident blanditiis sit itaque quisquam accusantium expedita.</p>
</div>