.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: ease 0.5s background-color;

    width: 300px;
    @media (prefers-color-scheme: dark) {
        background: linear-gradient(to right, #f5f4f1, #c3c2c0);
    }
    @media (prefers-color-scheme: light) {
        background: linear-gradient(to right, #575b74, #3a3c4d);
    }

    @media (prefers-color-scheme: dark) {
        box-shadow: 5px 5px 12px -2px gray;
    }
    @media (prefers-color-scheme: light) {
        box-shadow: 5px 5px 12px -2px gray;
    }
    border-radius: 10px;
    margin: 20px 0px;
}

.content {
    @media (prefers-color-scheme: dark) {
        color: #45505b;
    }
    @media (prefers-color-scheme: light) {
        color: white;
    }
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    padding: 5px 0px;
}

.left-triangle {
    height: 0px;
    width: 0px;
    transform: translateX(-40px);
    @media (prefers-color-scheme: dark) {
        border-right: 20px solid #f5f4f1;
    }
    @media (prefers-color-scheme: light) {
        border-right: 20px solid #575b74;
    }
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.right-triangle {
    height: 0px;
    width: 0px;
    transform: translateX(+300px);
    @media (prefers-color-scheme: dark) {
        border-left: 20px solid #f5f4f1;
    }
    @media (prefers-color-scheme: light) {
        border-left: 20px solid #575b74;
    }
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
}

.left-marker {
    @media (prefers-color-scheme: dark) {
        background-color: #f5f4f1;
    }
    @media (prefers-color-scheme: light) {
        background-color: #575b74;
    }
    height: 20px;
    width: 20px;
    border-radius: 50%;

    transform: translateX(-51px);
}

.right-marker {
    @media (prefers-color-scheme: dark) {
        background-color: #f5f4f1;
    }
    @media (prefers-color-scheme: light) {
        background-color: #575b74;
    }
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(351px);
}

.timestamp {
    display: block;
    margin: 5px 0px;
}

.header {
    margin: 5px 0px;
}

.message {
    margin-left: 10px;
}
