.header {
    text-align: center;
    font-size: 3em;
}

.header i {
    @media (prefers-color-scheme: dark) {
        color: white;
    }
    @media (prefers-color-scheme: light) {
        color: #45505b;
    }
}

.header i::after {
    content: '   ';
}

.wrapper {
    padding: 20px;
}

h1 {
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    // font-size: 3em;
    display: inline-block;
    padding-top: 20px;
    @media (prefers-color-scheme: dark) {
        color: white;
    }
    @media (prefers-color-scheme: light) {
        color: #45505b;
    }
    margin-bottom: 20px;
}