app-nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    z-index: 2;
    position: fixed;
    top: 0;
    @media screen and (min-width: 1100px) {
        bottom: 0;
    }

    @media screen and (max-width: 1100px) {
        flex-direction: row;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;        
    }

    transition: ease .5s background-color;
}

article > * {
    @media screen and (min-width: 1100px) {
        padding-left: 100px;
    }
}

article { 
    @media screen and (max-width: 1100px) {
        padding-top: 95px;
    }
}

#home {
    height: 900px;
}

#about {
    background: linear-gradient(to right, #575b74, #3a3c4d);
    // background-color: #575b74;
}

#contact {
    background: linear-gradient(to left, #575b74, #3a3c4d);
}

footer {
    @media (prefers-color-scheme: light) {
        background: #f7f8f9;
    }

    @media (prefers-color-scheme: dark) {
        background: #14151b;
    }
    padding: 20px;
    text-align: center;
}

.footer-name {
    font-size: 48px;
    font-weight: 600;
    margin: 15px;
}

.footer-name,
.footer-copyright,
.footer-angular {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    @media (prefers-color-scheme: dark) {
        color: #a6bfd6;
    }
    @media (prefers-color-scheme: light) {
        color: #45505b;
    }
}

.footer-angular {
    font-size: 10px;
}

.contact-links {
    margin-left: 20px;
}

.contact-links > a {
    font-size: 24px;
    margin: 0px 10px;
    @media (prefers-color-scheme: dark) {
        color: #a6bfd6;
    }
    @media (prefers-color-scheme: light) {
        color: #45505b;
    }
    text-decoration: none;
}

.contact-links > a:hover {
    @media (prefers-color-scheme: dark) {
        color: #cfe5fa;
    }
    @media (prefers-color-scheme: light) {
        color: #6a7c8d;
    }
}

.dimmer {
    background-color: rgba($color: rgb(42, 42, 42), $alpha: 0.6);
}