.wrapper {
    display: flex;
    height: 100%;
}

app-nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
}

article {
    width: 100%;
    margin-left: 100px;
}

app-header-name {
    margin: 50px;
}

section {
    height: 220%;
}

#home {
    height: 900px;
}