<div class="wrapper">
  <app-nav-bar></app-nav-bar>
  <article>
    <section id="home" data-aos="fade-up">
      <app-home-section></app-home-section>
    </section>
    <section id="about" data-aos="fade-up">
      <app-about-section></app-about-section>
    </section>
    <section id="edu">
      <app-education-section></app-education-section>
    </section>
    <section id="exp" data-aos="fade-up">
      <app-exp-section></app-exp-section>
    </section>
    <section id="dev" data-aos="fade-up">
      <app-dev-section></app-dev-section>
    </section>
    <section id="contact" data-aos="fade-up">
      <app-contact-section></app-contact-section>
    </section>
  </article>
  <footer data-aos="fade-up">
    <p class="footer-name">Kamil Lihan</p>
    <div class="contact-links">
      <a href="https://github.com/klihan/" target="_blank"><i class="bi bi-github"></i></a>
      <a href="https://www.facebook.com/kamil.lihan/" target="_blank"><i class="bi bi-facebook"></i></a>
    </div>
    <p class="footer-copyright" i18n="copyright|A copyright message@@copyright">© Copyright Kamil Lihan. All Rights Reserved </p>
    <p class="footer-angular" i18n="developed|Developed in angular message@@develop-framework">Developed in Angular framework</p>
  </footer>
</div>