<div class="wrapper">
  <app-nav-bar></app-nav-bar>
  <article>
    <section id="home" data-aos="fade-up">
      <app-home-section></app-home-section>
    </section>
    <section id="about" data-aos="fade-up">
      <app-about-section></app-about-section>
    </section>
    <section id="exp" data-aos="fade-up">
      <app-exp-section></app-exp-section>
    </section>
    <section id="dev" data-aos="fade-up">
      <app-dev-section></app-dev-section>
    </section>
    <section id="contact" data-aos="fade-up">
      <app-contact-section></app-contact-section>
    </section>
  </article>
</div>