<nav>
    <ul>
        <li class="nav-btn" routerLinkActive="nav-btn-active" [routerLinkActiveOptions]="{exact:true}"
            (click)="goHome()"><a routerLink="/"><i class="bi bi-house"></i><b
                    i18n="home|A home navigation menu item@@home-nav">Home</b></a></li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goAbout()"><a routerLink="/about"><i
                    class="bi bi-person"></i><b i18n="about|An about navigation menu item@@about-nav">About</b></a></li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goEdu()"><a routerLink="/edu"><i
                    class="bi bi-book"></i><b i18n="education|An education navigation menu item@@edu-nav">Education</b></a></li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goExp()"><a routerLink="/exp"><i
                    class="bi bi-briefcase"></i><b
                    i18n="working experience|A working experience navigation menu item@@exp-nav">Working
                    experience</b></a></li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goDev()"><a routerLink="/dev"><i
                    class="bi bi-braces"></i><b i18n="dev stack|A dev stack navigation menu item@@dev-nav">Dev
                    stack</b></a>
        </li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goContact()"><a routerLink="/contact"><i
                    class="bi bi-phone"></i><b
                    i18n="contact|A contact navigation menu item@@contact-nav">Contact</b></a>
        </li>
    </ul>
</nav>