<nav>
    <div class="background"></div>
    <ul>
        <li class="nav-btn" routerLinkActive="nav-btn-active" [routerLinkActiveOptions]="{exact:true}"
            (click)="goHome()"><a routerLink="/"><i class="bi bi-house"></i><b
                    i18n="home|A home navigation menu item@@home-nav">Home</b></a></li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goAbout()"><a routerLink="/about"><i
                    class="bi bi-person"></i><b i18n="about|An about navigation menu item@@about-nav">About</b></a></li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goEdu()"><a routerLink="/edu"><i
                    class="bi bi-book"></i><b
                    i18n="education|An education navigation menu item@@edu-nav">Education</b></a></li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goProjects()"><a routerLink="/projects"><i
                    class="bi bi-list-task"></i><b i18n="projects|A projects navigation menu item@@proj-nav">Projects</b></a></li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goDev()"><a routerLink="/dev"><i
                    class="bi bi-braces"></i><b i18n="dev stack|A dev stack navigation menu item@@dev-nav">Devstack</b></a>
        </li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goContact()"><a routerLink="/contact"><i
                    class="bi bi-phone"></i><b
                    i18n="contact|A contact navigation menu item@@contact-nav">Contact</b></a>
        </li>
    </ul>
</nav>