.itemcard {
  &-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    width: 100%;
    padding: 10px 20px;

    border-radius: 5px;
    @media (prefers-color-scheme: light) {
      background: linear-gradient(to right, #575b74 75%, #3a3c4d);
      box-shadow: 5px 5px 12px -2px gray;
      color: white;
    }
    @media (prefers-color-scheme: dark) {
      background: linear-gradient(to right, #f5f4f1 75%, #c3c2c0);
      box-shadow: 5px 5px 12px -2px gray;
      color: #45505b;
    }
  }

  &-leftlogo,
  &-rightlogo {
    height: 100%;
    max-height: 150px;
  }
}

p {
  margin-left: 10px;
}