.itemcard {
  &-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    width: 100%;
    @media screen and (max-width: 1100px) {
      width: 90%;
    }
    padding: 10px 20px;

    border-radius: 5px;
    @media (prefers-color-scheme: light) {
      background: linear-gradient(to right, #575b74 75%, #3a3c4d);
      box-shadow: 5px 5px 12px -2px gray;
      color: white;
    }
    @media (prefers-color-scheme: dark) {
      background: linear-gradient(to right, #f5f4f1 75%, #c3c2c0);
      box-shadow: 5px 5px 12px -2px gray;
      color: #45505b;
    }

    transition: ease 0.8s transform;
    user-select: none;
    z-index: 0;
  }

  &-wrapper:hover {
    transform: scale(1.05);
    z-index: 1;
  }

  &-leftlogo,
  &-rightlogo {
    height: 100px;
    // max-height: 150px;
    max-width: 20%;
    margin: auto 10px;
  }

  &-content {
    width: 70%;
  }
}

p {
  margin-left: 10px;
}