<nav>
    <ul>
        <li class="nav-btn" routerLinkActive="nav-btn-active" [routerLinkActiveOptions]="{exact:true}"
            (click)="goHome()"><a routerLink="/"><i class="bi bi-house"></i><b>Home</b></a></li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goAbout()"><a routerLink="/about"><i
                    class="bi bi-person"></i><b>About</b></a></li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goExp()"><a routerLink="/exp"><i
                    class="bi bi-briefcase"></i><b>Working experience</b></a></li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goDev()"><a routerLink="/dev"><i
                    class="bi bi-braces"></i><b>Dev stack</b></a></li>
        <li class="nav-btn" routerLinkActive="nav-btn-active" (click)="goContact()"><a routerLink="/contact"><i
                    class="bi bi-phone"></i><b>Contact</b></a></li>
    </ul>
</nav>