<nav>
    <ul>
        <li class="nav-btn" routerLink="/" routerLinkActive="nav-btn-active" (click)="goHome()"><a><i class="bi bi-house"></i><b>Home</b></a></li>
        <li class="nav-btn" routerLink="/about" routerLinkActive="nav-btn-active" (click)="goAbout()"><a><i class="bi bi-person"></i><b>About</b></a></li>
        <li class="nav-btn" routerLink="/exp" routerLinkActive="nav-btn-active" (click)="goExp()"><a><i class="bi bi-briefcase"></i><b>Working experience</b></a></li>
        <li class="nav-btn" routerLink="/dev" routerLinkActive="nav-btn-active" (click)="goDev()"><a><i class="bi bi-braces"></i><b>Dev stack</b></a></li>
        <li class="nav-btn" routerLink="/dev" routerLinkActive="nav-btn-active" (click)="goDev()"><a><i class="bi bi-phone"></i><b>Contact</b></a></li>
    </ul>
</nav>