.wrapper {
    padding: 20px;
}

h1 {
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 20px;
    color: white;
    margin-bottom: 20px;
    display: inline-block;
}

ul {
    columns: 2;
    @media screen and (max-width: 1100px) {
        columns: 1;
    }
}

.content {
    width: 70%;
    @media screen and (max-width: 1100px) {
        width: 90%;
    }
    margin: auto;
}

p, li, a, i {
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    color: white;
}

a:hover {
    color: rgb(209, 209, 209);
}

p {
    text-align: justify;
}

.personal-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.personal-info i {
    max-width: 120px;
    font-size: 128px;
    flex-grow: 1;
}

.personal-info ul {
    min-width: 500px;
    max-width: 700px;
    @media screen and (max-width: 1100px) {
        min-width: 0;
    }
    flex-grow: 3;
}

.horizontal-split {
    height: 2px;
    max-width: 1000px;
    background: linear-gradient(to right, transparent 0%, white 50%, transparent 100%);
    margin: 10px auto;
}

.header {
    text-align: center;
    font-size: 3em;
    @media screen and (max-width: 1100px) {
        font-size: 1.5em;
    }
}

.header i::after {
    content: '   ';
}