<div class="wrapper">
  <div class="header">
    <i class="bi bi-person"></i>
    <h1 i18n="about header|Header in about section@@about-head">About me</h1>
  </div>
  <div class="horizontal-split"></div>
  <div class="content">
    <p>
      Hi, I'm Kamil. I am a web/mobile developer with skills in many
      technologies in use today. I love writing good code that's functional and
      efficient. No spaghetti code! I am very flexible and have some experience
      in every field of software development whether that is backend, e.g.
      RESTapi or SOAP microservices build using frameworks like Express.JS or
      Spring, wiring an SQL database to a frontend application either a web one
      or a mobile one. When it comes to frontend I am capable of building a
      reactive single page web app (like this one), that reacts to your mouse
      and touch and adapts according to your device, no matter whether it's a
      desktop, laptop, tablet or a phone, dark or light mode. Try changing it
      and check it out!
      <br />
      <br />
      When the implementation is done and it's time for deployment I'm aware
      that there are some DevOps tools that can make our lifes a little bit
      easier like Jenkins and Docker. Setting up an automated building and
      deployment of a Docker container on a Unix system made my life in team
      projects a lot easier and every task that's not neccessary is a plus!
    </p>
    <div class="personal-info">
      <i class="bi bi-file-earmark-person-fill"></i>
      <ul>
        <li>
          <b i18n="born date|Date of birth@@birthday-li">Birthday: </b>16. 08.
          1998
        </li>
        <li>
          <b i18n="website link|Website@@website-li">Website: </b
          ><a href="http://kamillihan.site/">www.kamillihan.site</a>
        </li>
        <li>
          <b i18n="phone|Personal phone@@phone-li">Phone: </b
          ><a href="tel:+421907106895">+421 907 106 895</a>
        </li>
        <li><b i18n="city|City@@city-li">City: </b>Bratislava</li>
        <li><b i18n="age|Age@@age-li">Age: </b>22</li>
        <li>
          <b i18n="degree|Education, degree@@degree-li">Degree: </b>Bachelors
          degree
        </li>
        <li>
          <b i18n="email|Personal email@@email-li">Email: </b
          ><a href="mailto:k.lihan@outlook.com">k.lihan@outlook.com</a>
        </li>
      </ul>
    </div>
    <p>
      If you're interested in some of my projects I have worked on check
      <strong><em>my projects</em></strong> section. There you can find some
      projects that are available either as a public repository shared on GitHub
      or deployed as a live website on a server. Check'em out!
    </p>
  </div>
</div>
