<div class="itemcard">
    <div class="itemcard-wrapper">
        <div class="itemcard-front">
            <img [src]="item.img">
        </div>
        <div matRipple class="itemcard-back" (click)="openProject(item)">
            <img [src]="item.img">
            <div [ngClass]="item.in_development ? 'itemcard-developmentdescription' : 'itemcard-description'"></div>
            <div class="itemcard-backcontent">
                <h1>{{ item.header }}</h1>
                <div><i class="bi bi-link"></i>Learn more</div>
                <p >{{ item.description }}</p>
            </div>
        </div>
    </div>
</div>