/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

body, html {
    height: 100%;
    margin: 0;
    @media (prefers-color-scheme: light) {
        background-color: white;
        color: black;
    }
    
    @media (prefers-color-scheme: dark) {
        background-color: #282a35;
        color: white;
    }
}